[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
[alias]
	st = status
[push]
	default = simple
[pull]
	rebase = false
[ghq]
	root = ~/Sources
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
